:root {
  --color-primary: #414141;
  --color-primary-light: #7C7C7C;
  --color-secondary: #68a8aD;
  --color-neutral: #fffdf8;

  --font-primary: "Barlow", sans-serif;
  --font-secondary: "Damion", cursive;
}

html {
  font-family: var(--font-primary);
}

p {
  font-weight: 300;
}

mark {
  background-color: var(--color-secondary);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}
