.btn {
  font-weight: 300;
  background-color: transparent;
  border-color: transparent;
  color: var(--color-primary);
}

.btn:hover {
  font-weight: 700;
  background-color: transparent;
  border-color: transparent;
  color: var(--color-secondary-dark);
}
