.btn {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-primary);
  font-weight: 400;
}

.btn:hover {
  font-weight: 800;
  background-color: transparent;
  border-color: transparent;
  color: var(--color-secondary-dark);
}

.btn-big {
  background-color: var(--color-secondary);
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.btn-big:hover {
  font-weight: 800;
  background-color: #c8cb92;
  border-color: transparent;
  color: #fff;
}
