<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} · {% endif %}Jianna Design Portfolio{% if page.titleAfter %} · {{page.titleAfter}}{% endif %} </title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Barlow:300,400,400i,500,600,700,800,900|Damion&display=swap" rel="stylesheet">
  <link href="images/favicon.ico" rel="shortcut icon">
  <meta name="description" content="{{page.meta}}">
  <meta name="geo.region" content="ca-on">
  <meta name="geo.placename" content="Ottawa">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Jianna Nolan Portfolio · Graphic Designer & Illustrator · Ottawa, ON">
  <meta property="og:url" content="https://jianna.design">
  <meta property="og:image" content="https://jianna.design/image/designer.png">
  <meta property="og:site_name" content="Jianna Nolan Porfolio">
  <meta property="og:description" content="{{page.meta}}">
  <meta property="og:locale" content="en_CA">
</head>

<ul class="skip-links">
  <li><a href="#nav">Jump to navigation</a></li>
  <li><a href="#main">Jump to main content</a></li>
  <li><a href="#contentinfo">Jump to footer</a></li>
</ul>

<body>

<nav role="nav" id="nav" tabindex="0">
  {% pattern navigation/main-nav %}
</nav>
  {{content}}
<footer role="contentinfo" id="contentinfo" tabindex="0">
  {% pattern footer/footer %}
</footer>

</body>
</html>
